@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

.router-active {
  color: red;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
